*:focus {
    outline: none;
}
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSuqUWb5VNHnGFPfFcsumgf0FpdZN-19WLoDaSGQqEiZzOzmDq&s") ;
    background-color: #9cd2fe;
    color: #333;
    font-family: Lato, sans-serif;
}
.aligner {
    background: #fff;
    display: block;
    width: 400px;
    margin: 20px auto 0;
    padding: 14px 22px 24px;
    box-shadow: 0px 1px 16px 0px grey;
    border-radius: 3px;
}
header {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}
nav {
  margin: 10px 0;
}
nav > a {
  color: #3f51b5;
  text-transform: uppercase;
  text-decoration: none;
}
section,
form {
  display: flex;
  width: 100%;
  position: relative;
}
.label {
  display: inline-block;
  word-break: break-all;
}
#list {
    padding: 0;
    list-style: none;
    flex-direction: column;
    width: 100%;
}
#list > li {
    margin: 12px 0;
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    display: flex;
    word-break: break-all;
}
#list > li.done label {
    text-decoration-line: line-through;
}
#list > li.done{
    color: #319c36;
}
#list > li::before {
    content: '';
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    line-height: 1;
    border: 1px solid #333;
    border-radius: 2px;
}
#list > li.done::before {
    content: '\2713';
    border-color: #319c36;
    color: #319c36;
}
#list > li button,
#submit {
  color: #333;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #2b862f;
  border-radius: 4px;
  text-transform: uppercase;
  background: #319c36;
  padding: 7px 13px;
  margin-left: 10px;
  cursor: pointer;
}
#list > li button {
  padding: 2px 6px;
  height: 20px;
}
#input {
  border: 1px solid #2b862f;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  padding: 4px 12px;
  flex: 1;
}
#error {
  position: absolute;
  top: 25px;
  left: 0;
  color: red;
  margin-top: 7px;
  margin-left: 7px;
}
